<div class="post-meta">
    Loris Bognanni &middot;
    <time class="published" datetime="{{ post.date }}">
    {% if date_type == 'short' %}
        {{ post.date | formatDate('short') }}
    {% else %}
        {{ post.date | formatDate('long') }}
    {% endif %}
    </time>
</div>