<div class="block-buttons">
  {% for action in actions %}
    <a href="{{ action.url }}" 
      {% if action.new_window %}target="_blank" rel="noopener"{% endif %} 
      class="button{% if action.primary %} primary {% else %} secondary {% endif %}">
      {{ action.label }}
    </a>
  {% endfor %}
</div>