<footer id="colophon" class="site-footer">
  <div class="footer-top outer">
    <div class="inner">
      <div class="footer-widgets">

        <div class="widget footer-branding">
          {% if site.footer.logo_img | isNotEmpty %}
          <p class="site-logo">
            <a href="{{ '/' | relativeUrl }}"><img src="{{ site.footer.logo_img | relativeUrl }}" alt="Logo" /></a>
          </p>
          {% else %}
          <p class="site-title">
            <a href="{{ '/' | relativeUrl }}">{{ site.header.title }}</a>
          </p>
          {% endif %}
          {% if site.footer.tagline | isNotEmpty %}
          <p class="site-description">
            {{ site.footer.tagline }}
          </p>
          {% endif %}
        </div><!-- .widget -->

        {% if (site.footer.has_nav and site.footer.nav_links) or (site.footer.has_social and site.footer.social_links) %}
        <nav class="widget footer-navigation">
          <div class="footer-nav-inside">
            {% if site.footer.nav_links and site.footer.has_nav %}
            <div class="secondary-nav">
              <h2 class="widget-title">{{ site.footer.nav_title }}</h2>
              <ul class="secondary-menu">
                {% for action in site.footer.nav_links %}
                <li>
                  {% include "action-link.njk" %}
                </li>
                {% endfor %}
              </ul>
            </div><!-- .secondary-nav -->
            {% endif %}
            {% if site.footer.has_social | isNotEmpty %}
            <div class="social-nav">
              <h2 class="widget-title">{{ site.footer.social_title }}</h2>
              <ul class="social-links">
                {% for action in site.footer.social_links %}
                <li>
                  {% include "action-link.njk" %}
                </li>
                {% endfor %}
              </ul><!-- .social-links -->
            </div><!-- .social-nav -->
            {% endif %}
          </div><!-- .footer-nav-inside -->
        </nav><!-- .widget -->
        {% endif %}
        {% if site.footer.has_subscribe | isNotEmpty %}
        <div class="widget footer-subscribe">
          <h2 class="widget-title">{{ site.footer.subscribe_title }}</h2>
          {% if site.footer.subscribe_content | isNotEmpty %}
          <p>{{ site.footer.subscribe_content }}</p>
          {% endif %}
          {% include "subscribe_form.njk" %}
        </div><!-- .widget -->
        {% endif %}
      </div><!-- .footer-widgets -->
    </div><!-- .inner -->
  </div><!-- .outer -->

  <div class="site-info outer">
    <div class="inner">
      {{ site.footer.content | markdownify | safe }}
      &nbsp;
      {% for action in site.footer.links %}
        {% include "action-link.njk" %}
      {% endfor %}
    </div><!-- .inner -->
  </div><!-- .site-info -->

</footer><!-- .site-footer -->