<nav>
  <a href="{{ '/' | relativeUrl }}" class="logo">
    <img src="/images/logo-blur-white.svg" />
  </a>
  {% if site.header.nav_links and site.header.has_nav %}
  <ul>
    {% for action in site.header.nav_links %}
    <li>
      <a href="{{ action.url | relativeUrl }}"
        {% if action.new_window | isNotEmpty %}target="_blank" rel="noopener"{% endif %}>{{ action.label }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</nav>
