<section id="{{ section.section_id }}" class="block faq-block bg-{{ section.background }} outer">
  <div class="inner-small">
    {% if section.title | isNotEmpty %}
    <div class="block-header">
      <h2 class="block-title">{{ section.title }}</h2>
      {% if section.subtitle | isNotEmpty %}
      <p class="block-subtitle">{{ section.subtitle }}</p>
      {% endif %}
    </div>
    {% endif %}
    {% if section.faq_items | isNotEmpty %}
    <div class="faq-accordion">
      {% for faqitem in section.faq_items %}
      <details class="faq-item">
        <summary>{{ faqitem.question }}</summary>
        <div class="faq-answer">
          {{ faqitem.answer | markdownify | safe }}
        </div>
      </details>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
