<section id="{{ section.section_id }}" class="block bg-{{ section.background }} outer">
  <div class="block-header inner-small">
    {% if section.title | isNotEmpty %}
    <h2 class="block-title">{{ section.title }}</h2>
    {% endif %}
    {% if section.title | isNotEmpty %}
    <p class="block-subtitle">
      {{ section.subtitle }}
    </p>
    {% endif %}
  </div><!-- .block-header -->
  <div class="inner">
    <div class="post-feed">
      {% for post in section.gallery %}
      <article class="post post-card">
        <div class="post-card-inside">
          {% if post.image | isNotEmpty %}
          <a class="post-card-thumbnail" target="_blank" href="{{ post.image | relativeUrl }}">
            <img style="object-fit: contain;" class="thumbnail" src="{{ post.image | relativeUrl }}" alt="{{ post.alt }}" />
          </a>
          {% endif %}
        </div><!-- .post-card-inside -->
      </article><!-- .post -->
      {% endfor %}
    </div><!-- .post-feed -->
  </div><!-- .inner -->
</section><!-- .block -->