---
layout: body
---

<div class="outer">
  <div class="inner">

    <header class="post-header">
      <h1 class="post-title">{{ title }}</h1>
    </header><!-- .post-header -->

    <div class="post-content">
      {{ content | safe }}
    </div><!-- .post-content -->

    <div class="post-feed">
      {% for post in collections.posts | reverse %}
      <article class="post post-card">
        <div class="post-card-inside">
          {% if post.data.thumb_image | isNotEmpty %}
          <a class="post-card-thumbnail" href="{{ post.url | relativeUrl }}">
            <img class="thumbnail" src="{{ post.data.thumb_image | relativeUrl }}" alt="{{ post.data.title }}" />
          </a>
          {% endif %}
          <div class="post-card-content">
            <header class="post-header">
              <h2 class="post-title"><a href="{{ post.url | relativeUrl }}" rel="bookmark">{{ post.data.title }}</a></h2>
            </header><!-- .post-header -->
            <div class="post-excerpt">
              <p>{{ post.data.excerpt }}</p>
            </div>
            
            {% set post = post.data %}
            {% set date_type = 'short' %}
            {% include "blog_post_footer.njk" %}
          </div><!-- post-card-content -->
        </div><!-- .post-card-inside -->
      </article><!-- .post -->
      {% endfor %}
    </div><!-- .post-feed -->

  </div><!-- .inner -->
</div><!-- .outer-->