---
layout: base
---

<div id="page" class="site palette-{{ site.palette }}">
  {% include "header.njk" %}
  <main id="content" class="site-content">
    {{ content | safe }}
  </main><!-- .site-content -->
  {% include "footer.njk" %}
</div><!-- .site -->