---
layout: body
---

{% for section in sections %}
  {% set component = section.type + ".njk" %}
  {% include component %}
{% endfor %}

{% if content | trim != "" %}
<div class="outer">
  <div class="inner-medium">

    <article class="post post-full">
      <div class="post-content">
        {{ content | safe }}
      </div><!-- .post-content -->
    </article>
    
  </div><!-- .inner-medium -->
</div><!-- .outer-->
{% endif %}