---
layout: body
---

{% for section in sections %}
  {% set component = section.type + ".njk" %}
  {% include component %}
{% endfor %}

{% if content | trim != "" %}
<div class="page-content">
  {{ content | safe }}
</div>
{% endif %}
