---
layout: body
---

<div class="page-content">
  {% if title | isNotEmpty %}
  <h1>{{ title }}</h1>
  {% endif %}
  {% if image | isNotEmpty %}
  <img src="{{ image | relativeUrl }}" alt="{{ title }}" />
  {% endif %}
  {% if subtitle | isNotEmpty %}
  <p class="post-page-subtitle">{{ subtitle }}</p>
  {% endif %}
  {{ content | safe }}
</div>
