---
layout: body
---

<article class="post-page">
  <header class="post-page-header">
    {% if image | isNotEmpty %}
    <div class="post-page-thumb">
      <img src="{{ image | relativeUrl }}" alt="{{ title }}" />
    </div>
    {% endif %}
    {% set post = page %}
    {% set date_type = 'long' %}
    {% include "blog_post_footer.njk" %}
    <h1 class="post-page-title">{{ title }}</h1>
    {% if subtitle | isNotEmpty %}
    <p class="post-page-subtitle">{{ subtitle }}</p>
    {% endif %}
  </header>
  <div class="post-page-content">
    {{ content | safe }}
  </div>
</article>
